/actionbarsherlock/bin/
/actionbarsherlock/.settings/
/actionbarsherlock/.project
/actionbarsherlock/.classpath

/Goalmania/bin/
/Goalmania/.settings/
/Goalmania/.project
/Goalmania/.classpath
/Goalmania/bin/
/CustomizedListView/*.classpath
/CustomizedListView/.project
/CustomizedListView/.settings/
/CustomizedListView/bin/
/CustomizedListView/proguard.cfg
/SlidingMenu/.classpath
/SlidingMenu/.ecpproperties
/SlidingMenu/.project
/SlidingMenu/.settings/
/SlidingMenu/
/SlidingMenu/proguard-project.txt
/SlidingMenuTest/.classpath
/SlidingMenuTest/.project
/SlidingMenuTest/.settings/
/SlidingMenuTest/bin/
/SlidingMenuTest/proguard-project.txt
/Goalmania/*.classpath

/Goalmania/.classpath
