<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mac.android.goalmania"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="17" />

    <application
        android:name="com.mac.android.goalmania.context.GoalmaniaContext"
        android:icon="@drawable/ic_launcher"
        android:label="@+string/app_name"
        android:theme="@style/Theme.Example" >

        <!-- android:theme="@style/AppTheme" -->
        <activity android:name="com.mac.android.goalmania.GridViewActivity"
             android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mac.android.goalmania.JerseyDetailActivity"
             android:configChanges="orientation|keyboardHidden|screenSize">
        </activity> 
        <activity android:name="com.mac.android.goalmania.ZoomActivity"
             android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name="org.mac.android.ihm.activity.AnimationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
         <activity
            android:name="com.mac.android.goalmania.OrderActivity"
             android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
         <activity
            android:name="com.mac.android.goalmania.OrderDetailItemActivity"
             android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
    </application>

</manifest>